.cardMainDiv .card:hover {
    transition: all .3s;
    transform: scale(1.04);
    cursor: pointer !important;
}

.card-img-top {
    height: 200px;
    object-fit: fill;
}

.img-fluid {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}